.main {
    border: 2px solid black;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    background-color: #212121;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.profileList {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.profileSubLi {
    display: flex;
    flex-direction: column;
    align-items: center;
}