.online {
    color: green;
}

.offline {
    color: red;
}

.friendsLi {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.friendItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}