.even {
    background-color: #9d9d9d;
    border: 1px solid black;
}

.odd {
    border: 1px solid black;
}

.table {
    border: 1px solid black;
    width: 360px;
    border-collapse: collapse;
}

.tableHead {
    background-color: #161616;
    color: #fff;
}

.tableTh {
    text-align: center;
}

.tableTd {
    text-align: center;
    border: 1px solid black;
}

.transactionTable {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}